	.right .tbl .table-striped  .header {
		background-image:url(../img/bg.gif);
		background-repeat:no-repeat;
		background-position:right;
	}
	
	body{
		 background-color:#42A7C9;
	}
	
	.head{
		width:100%;
		position:fixed;
		background-image:url(../img/gradient.png);
		text-align:center;
	}
	
	.head a{
		text-decoration:none;
	}
	
	.head a h2{
		color:#FFFFFF;
		display:inline;
		margin:0 auto;
	}
	.head a h2 img {
		width:25px;
		margin-top:10px;
		height:20px;
		vertical-align:top;
	}
	
	#message{
		background-color:#FFFFFF;
		width:450px;
		margin:0 auto;
	}
	
	#suggest{
		background-color:#FFFFFF;
		width:450px;
		margin:0 auto;
	}
	
	.container{
		
		width:1015px;
	}
	
	.container .right{
		width:auto;
		float:right;
		margin-right:0px;
		margin-top:20px;
		border-radius:10px;
		box-shadow:0 0 15px #000000;
	}
	
	.container .right .add{
		background-color:#FFFFFF;
		margin-left:20px;
		margin-top:23px;
		border-radius:10px;
		padding:10px;
		width:290px;
	}
	
	.container .right .add #addnewtag input{
		vertical-align:top;
	}
	
	.container .right .tbl{
		background-color:#FFFFFF;
		margin:0;
		width:310px;
		border-radius:10px;
	}
	
	.container .right .tbl h3{
		margin-bottom:0px;
		margin-left:5px;
	}
	
	.container .right .tbl h3 #search{
		border-radius:30px;
		width:100px;
		background-color:#F2F2F2;
		float:right;
		margin:5px 5px 0 0;
	}
	
	.container .right .tbl #tblS{
		width:100%;
		border:1px solid white;
	
	}
	
	.container .right .tbl #tblS thead tr th{
		cursor:pointer;
		font-size:15px;
	}
	
	.container .right .tbl #tblS tbody tr td a{
		color:#000000;
		cursor: pointer;
	}
	
	#hover{
		cursor:pointer;
		color:#33ccff;
	}
	
	#embed{
		display:none;
		position:absolute;
		background-color:#E69926;
		margin-right:20px;box-shadow:0 0 15px #000000;
		border-radius:20px;
		padding:10px;
	}
	
	.container .info{
	
		box-shadow:0 0 15px #000000;
		background-color:#FFFFFF; 
		margin:20px 0 20px 20px; 
		border-radius:30px 0 30px 0;
		width:630px;
		float:left;
		padding:10px 0 10px 0;
	}
	
	.container .info .clearfix{
		width:100%;
	}
	
	.container .info .clearfix .count{
		margin-left:20px;
		float:left;
	}
	
	
	
	.container .info .clearfix .count h6{
		text-align:center;
	}
	
	.container .info .clearfix .update{
		float:right;
		margin-right:20px;
	}
	
	.container #postedComments{
		box-shadow:0 0 15px #000000;
		background-color:#FFFFFF; 
		border-radius:20px;
		width:630px;
		float:left;
		padding-top:20px;
		margin-left:20px;
	}
	
	.container #loadMoreComments{
		display:none;
		float:left;
		margin-right:500px;
	}
	
	
	.container #postedComments a:hover{
		text-decoration:underline;
		color:#08C
	}
	